<h1>Admin</h1>

    <div class="user_name">
        <h1>Hi Admin</h1>
        <span class="check_loan admin_loanLick">Customer Records</span>
        <span class="check_loan admin_loanLick">Pending Loan request</span>
        <span class="check_loan admin_loanLick">Customer Payment Confirmation</span>
        <span class="check_loan admin_loanLick">All loans</span>
    </div>

    <!-- <div class="admin_loan"> -->
    <div class="admin_loan" style="display:block;">
        <h1>Customer Records</h1>
        <table>
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>BVN</th>
                    <th>Phone Number</th>
                    <th>GENDER</th>
                    <th>Pending Loan</th>
                </tr>
            </thead>
            <tbody>
                <% users.forEach(function(user){ %>
                    <% if(!user){ %>
                        <tr id="<%= user._id %>" >
                            <td data-column="First Name">Nill</td>
                            <td data-column="Last Name">Nill</td>
                            <td data-column="Email">Nill</td>
                            <td data-column="BVN">Nill</td>
                            <td data-column="Phone Number">Nill</td>
                            <td data-column="GENDER">Nill</td>
                            <td data-column="Pending Loan">Nill</td>
                        </tr>
                    <% }else if(user.admin === 0){ %>
                        <tr id="<%= user._id %>" >
                            <td data-column="First Name"><%=user.fName %></td>
                            <td data-column="Last Name"><%=user.lName %></td>
                            <td data-column="Email"><%=user.email %></td>
                            <td data-column="BVN"><%=user.bvn %></td>
                            <td data-column="Phone Number"><%=user.num %></td>
                            <td data-column="GENDER"><%=user.gender %></td>
                            <td data-column="Pending Loan"><%=user.loanStatus %></td>
                        </tr>
                    <% } %>
                    
                <% }); %>
            </tbody>
        </table>
    </div>

    <div class="admin_loan" >
        <h1>Click on each to accept or decline loans</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Type of Loan</th>
                    <th>Reason</th>
                    <th>Amount</th>
                    <th>Accept/Decline</th>
                </tr>
            </thead>
            <tbody>
                <% loan.forEach(function(loanee){ %>
                    <% if( loanee.givenLoan === "No"){ %>
                        <tr id="<%= loanee._id %>" >
                            <td data-column="Name"><%=loanee.loanName %></td>
                            <td data-column="Email"><%=loanee.email %></td>
                            <td data-column="Type of Loan"><%=loanee.loanType %></td>
                            <td data-column="Reason"><%=loanee.reason %></td>
                            <td data-column="Amount"><%=loanee.amount %></td>
                            <td data-column="Accept/Decline"><a href="/admin/confirm/<%= loanee.userId %>">click</a></td>
                        </tr>
                    <% } %>
                    
                <% }); %>
            </tbody>
        </table>
    </div>
    

    <div class="admin_loan">
        <h1>Payment Confirmation</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Loan Type</th>
                    <th>Amount</th>
                    <th>Transfer Slip number</th>
                    <th>Accept/Decline</th>
                </tr>
            </thead>
            <tbody>
                <% loan.forEach(function(loan){ %>
                    
                    <% if(loan.transferNumber && loan.givenLoan === "Yes" && loan.status === "Not Done"){ %>
                        <tr>
                            <td data-column="Name"><%= loan.loanName  %></td>
                            <td data-column="Email"><%= loan.email %></td>
                            <td data-column="Loan Type"><%= loan.loanType  %></td>
                            <td data-column="Amount"><%= loan.amount  %></td>
                            <td data-column="Payment Slip"><%= loan.transferNumber  %></td>
                            <td data-column="Accept/Decline"><a href="/admin/payment_confirmation/<%= loan.userId%>">click</a></td>
                        </tr>
                        
                    <% }else{ %>
                        
                <% } %>
                <% }); %>
                
            </tbody>
        </table>
    </div>

    <div class="admin_loan">
        <h1>All Loans</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Type of Loan</th>
                    <th>Reason</th>
                    <th>Loan Status/Given Loan</th>
                    <th>Loan Amount</th>
                    <th>Loan Payment</th>
                </tr>
            </thead>
            <tbody>
                <% loan.forEach(function(loanee){ %>
                    <% if(!loanee){ %>
                        <tr id="<%= loanee._id %>" >
                            <td data-column="Name">Nill</td>
                            <td data-column="Email">Nill</td>
                            <td data-column="Type of Loan">Nill</td>
                            <td data-column="Reason">Nill</td>
                            <td data-column="Loan Status/Given Loan">Nill</td>
                            <td data-column="Loan Amount">Nill</td>
                            <td data-column="Loan Payment">Nill</td>
                        </tr>
                    <% }else{ %>
                        <tr id="<%= loanee._id %>" >
                            <td data-column="Name"><%=loanee.loanName %></td>
                            <td data-column="Email"><%=loanee.email %></td>
                            <td data-column="Type of Loan"><%=loanee.loanType %></td>
                            <td data-column="Reason"><%=loanee.reason %></td>
                            <td data-column="Loan Status/Given Loan"><%=loanee.givenLoan %></td>
                            <td data-column="Loan Amount"><%=loanee.amount %></td>
                            <td data-column="Loan Payment"><%=loanee.payment %></td>
                        </tr>
                    <% } %>
                    
                <% }); %>
                
            </tbody>
        </table>
    </div>

    <script src="/js/admin.js"></script>
</body>

</html>